/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Manrope', sans-serif;
}

h1, h2, h3 {
  color: #FFFFFF;
}

h1, h2, h3, p {
  text-align: center;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
}

p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: #767f98;
}

body {
  background-color: #080C20;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.btn {
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
  color: #093e67;
  width: 100%;
  background: #3eeae7 0% 0% no-repeat padding-box;
  border-radius: 24px;
  padding: 0;
  border: none;
  padding: 0.75rem 0 1.3125rem 0;
}

.price-card {
  position: relative;
  background: #093e67 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 3.0625rem 1.875rem;
  text-align: left;
}

.price-card::before {
  content: "";
  position: absolute;
  top: -1.25rem;
  display: inline-block;
  background: url("../images/icon-free.svg");
  width: 2.85125rem;
  height: 2.84063rem;
}

.price-card h3 {
  text-align: left;
  margin-bottom: 1.625rem;
}

.price-card p {
  text-align: left;
  color: white;
  opacity: 0.60;
  margin: 0;
}

.price-card .price {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
  margin-top: 3.8125rem;
  margin-bottom: 2.125rem;
  color: white;
  opacity: 1;
}

.price-card li {
  padding-left: 1.5625rem;
  padding-bottom: 0.3125rem;
  margin-bottom: 1.20625rem;
  color: white;
  background-image: url("../images/icon-check-light.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.price-card--light {
  background-color: #3eeae7;
  color: #080c21;
}

.price-card--light::before {
  background: url("../images/icon-paid.svg");
  width: 3.13625rem;
  height: 4.0575rem;
  top: -2rem;
}

.price-card--light h3, .price-card--light p, .price-card--light .price, .price-card--light li {
  color: #080c21;
}

.price-card--light .price span {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  opacity: 0.60;
  margin-left: 1.65625rem;
}

.price-card--light li {
  background-image: url("../images/icon-check.svg");
}

.header--top {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.header--mobile {
  margin-top: 4.15rem;
  display: inline-block;
  width: 100vw;
  height: 14.35rem;
  background-image: url("../images/illustration-hero-mobile.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header--body {
  margin-top: 3.07875rem;
}

.header--body span {
  color: #3eeae7;
}

.header--body p {
  margin: 2rem 6.4%;
}

.header--body .scroll {
  width: 100vw;
  height: 2.625rem;
  background-image: url("../../images/icon-scroll.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 2.625rem;
}

footer {
  margin-top: 9.0625rem;
  background-image: url("../images/bg-footer-squiggle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 10.3125rem;
}

footer .container {
  margin: 0 6.4%;
}

footer .email {
  margin-top: 2.75rem;
  width: 100%;
  padding: 0.75rem 0 1.3125rem 0;
  align-items: center;
  background: #093e67 0% 0% no-repeat padding-box;
  border-radius: 24px;
  outline: none;
  border: none;
}

footer .email::placeholder {
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
  color: rgba(255, 255, 255, 0.4);
  text-indent: 1.125rem;
}

footer button {
  margin-top: 1.5rem;
}

.home {
  margin: 0 6.4%;
}

.home--one {
  margin-top: 9rem;
}

.home--one--card {
  text-align: center;
}

.home--one--card .img-cont {
  display: inline-flex;
  width: 120px;
  height: 124px;
  background: #093e67 0% 0% no-repeat padding-box;
  border-radius: 45px;
  align-items: center;
  justify-content: center;
}

.home--one--card h2 {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
  margin-top: 2rem;
}

.home--one--card p {
  margin: 1.125rem 0 4.125rem 0;
}

.home--two {
  margin-top: 9.625rem;
}

.home--two p {
  margin: 2.25rem 0 4.125rem 0;
}

.home--two .price-card {
  margin-bottom: 4.0625rem;
}
/*# sourceMappingURL=main.css.map */