/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Manrope', sans-serif;
}

h1,
h2,
h3 {
  color: white;
}

h1,
h2,
h3,
p {
  text-align: center;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 900;
    font-family: 'Manrope', sans-serif;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 2rem;
    line-height: 2.375rem;
    font-weight: 900;
    font-family: 'Manrope', sans-serif;
  }
}

p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: #767f98;
}

body {
  background-color: #080c21;
}

.btn {
  /* Style Buttons */
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
  background: #3eeae7;
  border: none;
  border-radius: 24px;
  color: #093e67;
  padding: 0;
  padding: 0.75rem 0 1.3125rem 0;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .btn {
    width: 8.75rem;
  }
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  color: white;
  border: 2px solid #3eeae7;
  background-color: #080c21;
  transition: 0.8s;
}

.notice {
  display: none;
}

.email {
  /* styles for email text input */
  font-size: 0.9375rem;
  line-height: 0.9375rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
  background-color: #093e67;
  border: none;
  border-radius: 24px;
  color: white;
  margin-top: 2.75rem;
  overflow: auto;
  padding: 0.75rem 0 1.3125rem 0;
  resize: none;
  text-indent: 1.125rem;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .email {
    margin: 0;
    margin-right: 1rem;
    width: 20rem;
  }
}

.email::placeholder {
  color: rgba(255, 255, 255, 0.4);
  text-indent: 1.125rem;
}

.error .email {
  border: 2px solid #ff2965;
}

.error .notice {
  font-size: 7.625pxrem;
  line-height: 1.5625rem;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  color: #ff2965;
  display: block;
  position: absolute;
}

.price-card {
  /* style pricing information */
  background-color: #093e67;
  border-radius: 8px;
  padding: 3.0625rem 1.875rem;
  position: relative;
  text-align: left;
}

@media screen and (min-width: 600px) {
  .price-card {
    width: 27.8125rem;
  }
}

.price-card::before {
  /* add image to top of price card */
  background-image: url("../images/icon-free.svg");
  content: "";
  display: inline-block;
  height: 2.84063rem;
  position: absolute;
  top: -1.25rem;
  width: 2.85125rem;
}

.price-card h3 {
  margin-bottom: 1.625rem;
  text-align: left;
}

.price-card p {
  text-align: left;
  color: white;
  opacity: 0.60;
  margin: 0;
}

.price-card .price {
  /* price appears larger and offset from list */
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
  color: white;
  margin-bottom: 2.125rem;
  margin-top: 3.8125rem;
  opacity: 1;
}

.price-card li {
  /* add checkmark list-style-image doesn't line up correctly */
  background-image: url("../images/icon-check-light.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  color: white;
  margin-bottom: 1.20625rem;
  padding-bottom: 0.3125rem;
  padding-left: 1.5625rem;
}

.price-card--light {
  /* style lighter color card */
  background-color: #3eeae7;
  color: #080c21;
}

.price-card--light::before {
  /* add image to top of card */
  background: url("../images/icon-paid.svg");
  height: 4.0575rem;
  top: -2rem;
  width: 3.13625rem;
}

.price-card--light h3, .price-card--light p, .price-card--light .price, .price-card--light li {
  color: #080c21;
}

.price-card--light .price span {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  opacity: 0.60;
  margin-left: 1.65625rem;
}

.price-card--light li {
  /* add checkmark list-style-image doesn't line up correctly */
  background-image: url("../images/icon-check.svg");
}

/* Header Styles */
.header {
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .header {
    display: grid;
    grid-template-areas: 'A . .' 'B C D';
  }
}

@media screen and (min-width: 1800px) {
  .header {
    margin: 0 auto;
    max-width: 1600px;
  }
}

.header--top {
  /* Style top of header */
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

@media screen and (min-width: 600px) {
  .header--top {
    grid-area: A;
    justify-content: left;
    left: 2.4375rem;
    margin: 3rem 0 5.15813rem 0;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .header--top {
    left: 10.3125rem;
    margin: 5.0625rem 0 7.36062rem 0;
  }
}

@media screen and (min-width: 1800px) {
  .header--top {
    left: 0;
  }
}

.header--mobile {
  /* header images for mobile display */
  background-image: url("../images/illustration-hero-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 14.35rem;
  margin-top: 4.15rem;
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .header--mobile {
    display: none;
  }
}

.header--left {
  /* Style left section of header on larger screens */
}

@media screen and (min-width: 600px) {
  .header--left {
    display: inline-block;
    grid-area: B;
    background-position: right;
    background-image: url("../images/illustration-hero-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 17.93vw;
  }
}

@media screen and (min-width: 1200px) {
  .header--left {
    width: 24.65vw;
  }
}

@media screen and (min-width: 1800px) {
  .header--left {
    width: 18.75rem;
  }
}

.header--right {
  /* Style right section of header on larger screens */
}

@media screen and (min-width: 600px) {
  .header--right {
    display: inline-block;
    background-image: url("../images/illustration-hero-right.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    grid-area: D;
    width: 17.93vw;
  }
}

@media screen and (min-width: 1200px) {
  .header--right {
    width: 24.65vw;
  }
}

@media screen and (min-width: 1800px) {
  .header--right {
    width: 18.75rem;
  }
}

.header--body {
  /* style center section of header */
  margin-top: 3.07875rem;
}

@media screen and (min-width: 600px) {
  .header--body {
    background-image: url("../images/bg-hero-squiggle.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 3.14062rem;
    width: 64.14vw;
  }
}

@media screen and (min-width: 1200px) {
  .header--body {
    width: 50.7vw;
  }
}

@media screen and (min-width: 1800px) {
  .header--body {
    width: 62.5rem;
  }
}

.header--body span {
  color: #3eeae7;
}

.header--body p {
  margin: 2rem 6.4%;
}

.header--body .scroll {
  /* mouse icon */
  background-image: url("../images/icon-scroll.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 2.625rem;
  margin-top: 2.625rem;
  width: 100vw;
}

@media screen and (min-width: 600px) {
  .header--body .scroll {
    width: auto;
  }
}

@media screen and (min-width: 600px) {
  .header--body {
    grid-area: C;
  }
}

footer {
  /* style page footer */
  background-image: url("../images/bg-footer-squiggle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 9.0625rem;
  padding-bottom: 10.3125rem;
}

footer .container {
  margin: 0 6.4%;
  /* set margin for mobile devices */
}

@media screen and (min-width: 600px) {
  footer .cta {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2.375rem;
  }
}

@media screen and (min-width: 1200px) {
  footer .cta {
    margin-top: 3.375rem;
  }
}

footer button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 600px) {
  footer button {
    margin: 0;
  }
}

.home {
  /* style home page */
  margin: 0 6.4%;
}

@media screen and (min-width: 600px) {
  .home {
    margin: 0 auto;
  }
}

.home--one {
  /* apeal section */
  margin-top: 9rem;
}

@media screen and (min-width: 600px) {
  .home--one {
    margin: 0 auto;
    margin-top: 6.91563rem;
    max-width: 35.8125rem;
  }
}

@media screen and (min-width: 1200px) {
  .home--one {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12.70937rem;
    max-width: 69.375rem;
  }
}

.home--one--card {
  /* appeal section card */
  text-align: center;
}

@media screen and (min-width: 600px) {
  .home--one--card {
    align-items: center;
    column-gap: 3.4375rem;
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: repeat(2, auto);
    margin-bottom: 2.5rem;
    row-gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .home--one--card {
    grid-template-columns: 15.9375rem;
    grid-template-rows: repeat(3, auto);
  }
}

.home--one--card--one {
  /* appeal card */
}

@media screen and (min-width: 600px) {
  .home--one--card--one {
    margin-left: 10.3125rem;
  }
}

@media screen and (min-width: 1200px) {
  .home--one--card--one {
    margin-left: 0;
  }
}

.home--one--card--two {
  /* appeal card */
}

@media screen and (min-width: 600px) {
  .home--one--card--two {
    margin-left: 6.0625rem;
  }
}

@media screen and (min-width: 1200px) {
  .home--one--card--two {
    margin-left: 0;
    margin-top: 3rem;
  }
}

.home--one--card--three {
  /* appeal card */
}

@media screen and (min-width: 600px) {
  .home--one--card--three {
    margin-left: 10.4375rem;
  }
}

@media screen and (min-width: 1200px) {
  .home--one--card--three {
    margin-left: 0;
  }
}

.home--one--card--four {
  /* appeal card */
}

@media screen and (min-width: 600px) {
  .home--one--card--four {
    margin-left: 6.0625rem;
  }
}

@media screen and (min-width: 1200px) {
  .home--one--card--four {
    margin-left: 0;
    margin-top: 3rem;
  }
}

.home--one--card .img-cont {
  align-items: center;
  background-color: #093e67;
  border-radius: 45px;
  display: inline-flex;
  justify-content: center;
  height: 124px;
  width: 120px;
}

@media screen and (min-width: 600px) {
  .home--one--card .img-cont {
    grid-column: 1;
    grid-row: 1 / 4;
  }
}

@media screen and (min-width: 1200px) {
  .home--one--card .img-cont {
    grid-row: 1;
  }
}

.home--one--card h2 {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 900;
  font-family: 'Manrope', sans-serif;
  margin-top: 2rem;
}

@media screen and (min-width: 600px) {
  .home--one--card h2 {
    grid-column: 2;
    grid-row: 1;
    margin-top: 1.1875rem;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .home--one--card h2 {
    grid-column: 1;
    grid-row: 2;
    margin-top: 3rem;
  }
}

.home--one--card p {
  margin: 1.125rem 0 4.125rem 0;
}

@media screen and (min-width: 600px) {
  .home--one--card p {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    margin-top: 1.125rem;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .home--one--card p {
    grid-column: 1;
    grid-row: 3;
    margin-top: 1.875rem;
  }
}

.home--two {
  /* pricing section */
  margin-top: 9.625rem;
}

@media screen and (min-width: 600px) {
  .home--two {
    margin: 8.8125rem auto 0 auto;
    max-width: 35.8125rem;
  }
}

@media screen and (min-width: 1200px) {
  .home--two h2 {
    grid-area: price1;
  }
}

.home--two p {
  margin: 2.25rem 0 4.125rem 0;
}

@media screen and (min-width: 600px) {
  .home--two p {
    margin-bottom: 5.5625rem;
  }
}

@media screen and (min-width: 1200px) {
  .home--two p {
    grid-area: price2;
  }
}

@media screen and (min-width: 1200px) {
  .home--two .price-cards {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 1.875rem;
  }
}

.home--two .price-card {
  margin-bottom: 4.0625rem;
}

@media screen and (min-width: 600px) {
  .home--two .price-card {
    margin: 0 auto 4.0625rem auto;
  }
}
/*# sourceMappingURL=main.css.map */