.home { /* style home page */
    margin: 0 6.4%;

    @include media-md {
        margin: 0 auto;
        
    }

    &--one { /* apeal section */
        margin-top: toRem(144);

        @include media-md {
            margin: 0 auto;
            margin-top: toRem(110.65);
            max-width: toRem(573);
        }

        @include media-lg {
            display: flex;
            justify-content: space-evenly;
            margin-top: toRem(203.35);
            max-width: toRem(1110);
        }

        &--card { /* appeal section card */
            text-align: center;

            @include media-md {
                align-items: center;
                column-gap: toRem(55);
                display: grid;
                grid-template-columns: 120px auto;
                grid-template-rows: repeat(2, auto);
                margin-bottom: toRem(40);
                row-gap: 0;
            }

            @include media-lg {
                grid-template-columns: toRem(255);
                grid-template-rows: repeat(3, auto);
            }

            &--one { /* appeal card */
                @include media-md {
                    margin-left: toRem(165);
                }

                @include media-lg {
                    margin-left: 0;
                }
            }

            &--two { /* appeal card */
                @include media-md {
                    margin-left: toRem(97);
                }

                @include media-lg {
                    margin-left: 0;
                    margin-top: toRem(48);
                }
            }

            &--three { /* appeal card */
                @include media-md {
                    margin-left: toRem(167);
                }

                @include media-lg {
                    margin-left: 0;
                }
            }

            &--four { /* appeal card */
                @include media-md {
                    margin-left: toRem(97);
                }

                @include media-lg {
                    margin-left: 0;
                    margin-top: toRem(48);
                }
            }

            .img-cont {
                align-items: center;
                background-color: hsla(206, 84%, 22%, 1);
                border-radius: 45px;
                display: inline-flex;
                justify-content: center;
                height: 124px;
                width: 120px;  

                @include media-md {
                    grid-column: 1;
                    grid-row: 1 / 4;
                }

                @include media-lg {
                    grid-row: 1;
                }
            }

            h2 {
                @include text-format(18, 22, 900);
                margin-top: toRem(32);

                @include media-md {
                    grid-column: 2;
                    grid-row: 1;
                    margin-top: toRem(19);
                    text-align: left;
                }

                @include media-lg {
                    grid-column: 1;
                    grid-row: 2;
                    margin-top: toRem(48);
                }
            }

            p {
                margin: toRem(18) 0 toRem(66) 0;

                @include media-md {
                    grid-column: 2;
                    grid-row: 2;
                    margin: 0;
                    margin-top: toRem(18);
                    text-align: left;
                }

                @include media-lg {
                    grid-column: 1;
                    grid-row: 3;
                    margin-top: toRem(30);
                }
            }
        }
    }

    &--two { /* pricing section */
        margin-top: toRem(154);

        @include media-md {
            margin: toRem(141) auto 0 auto;
            max-width: toRem(573);
        }

        h2 {
            @include media-lg {
                grid-area: price1;
            }
        }

        p {
            margin: toRem(36) 0 toRem(66) 0;

            @include media-md {
                margin-bottom: toRem(89);
            }
            
            @include media-lg {
                grid-area: price2;
            }
        }

        .price-cards {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            column-gap: toRem(30);
        }

        .price-card {
            margin-bottom: toRem(65);

            @include media-md {
                margin: 0 auto toRem(65) auto;
            }
        }
    }
}