.home { /* style home page */
    margin: 0 6.4%;

    &--one { /* first section of home page */
        margin-top: toRem(144);

        &--card { 
            text-align: center;

            .img-cont {
                align-items: center;
                background-color: hsla(206, 84%, 22%, 1);
                border-radius: 45px;
                display: inline-flex;
                justify-content: center;
                height: 124px;
                width: 120px;  
            }

            h2 {
                @include text-format(18, 22, 900);
                margin-top: toRem(32);
            }

            p {
                margin: toRem(18) 0 toRem(66) 0;
            }
        }
    }

    &--two { /* second section of home page */
        margin-top: toRem(154);

        p {
            margin: toRem(36) 0 toRem(66) 0;
        }

        .price-card {
            margin-bottom: toRem(65);
        }
    }
}