

.btn { /* Style Buttons */
    @include text-format(15, 15, 900);
    background: hsla(179, 80%, 58%, 1);
    border: none;
    border-radius: 24px;
    color: hsla(206, 84%, 22%, 1);
    padding: 0;
    padding: toRem(12) 0 toRem(21) 0;
    width: 100%;

    @include media-md {
        width: toRem(140);
    }
    
    &:active {
        transform: scale(0.98);
    }
}