.price-card { /* style pricing information */
    background-color: $element-bg-color;
    border-radius: 8px;
    padding: toRem(49) toRem(30);
    position: relative;
    text-align: left;

    &::before { /* add image to top of price card */
        background-image: url('../images/icon-free.svg');
        content: "";
        display: inline-block;
        height: toRem(45.45);
        position: absolute;
        top: toRem(-20);
        width: toRem(45.62); 
    }

    h3 {
        margin-bottom: toRem(26);
        text-align: left;
        
    }

    p {
        text-align: left;
        color: $heading-text-color;
        opacity: 0.60;
        margin: 0;
    }

    .price { /* price appears larger and offset from list */
        @include text-format(40, 48, 900);
        color: $heading-text-color;
        margin-bottom: toRem(34);
        margin-top: toRem(61);
        opacity: 1;
    }

    li { /* add checkmark list-style-image doesn't line up correctly */
        background-image: url('../images/icon-check-light.svg');
        background-position: left bottom;
        background-repeat: no-repeat;
        color: $heading-text-color;
        margin-bottom: toRem(19.3);
        padding-bottom: toRem(5);
        padding-left: toRem(25);   
    }

    &--light { /* style lighter color card */
        background-color: $primary-color;
        color: hsla(230, 60%, 8%, 1);

        &::before { /* add image to top of card */
            background: url('../images/icon-paid.svg');
            height: toRem(64.92);
            top: toRem(-32);
            width: toRem(50.18);
        }

        h3, p, .price, li {
            color: $lt-elem-text-color;
        }

        .price {
            span {
              @include text-format(15, 25, 500); 
              opacity: 0.60; 
              margin-left: toRem(26.5);
            }
        }

        li { /* add checkmark list-style-image doesn't line up correctly */
            background-image: url('../images/icon-check.svg');
        }
    }
}