footer { /* style page footer */
	background-image: url('../images/bg-footer-squiggle.svg');
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: toRem(145);
	padding-bottom: toRem(165);

	.container { 
		margin: 0 6.4%; /* set margin for mobile devices */
	}

	.cta {
		@include media-md {
			align-items: center;
			display: flex;
			justify-content: center;
			margin-top: toRem(38);
		}

		@include media-lg {
			margin-top: toRem(54);
		}
	}

	.email{ /* styles for email text input */
		background-color: $element-bg-color;
		border: none;
		border-radius: 24px;
		margin-top: toRem(44);
		outline: none;
		padding: toRem(12) 0 toRem(21) 0;
		width: 100%;

		@include media-md {
			margin: 0;
			margin-right: toRem(16);
			width: toRem(320);
			
		}

		&::placeholder {
			@include text-format(15, 15, 900);
			color: hsla(0, 0%, 100%, 0.4);
			text-indent: toRem(18);
		}
	}

	button {
		margin-top: toRem(24);

		@include media-md {
			margin: 0;
		}
	}	
}