footer { /* style page footer */
	background-image: url('../images/bg-footer-squiggle.svg');
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: toRem(145);
	padding-bottom: toRem(165);

	.container { 
		margin: 0 6.4%; /* set margin for mobile devices */
	}

	.cta {

		@include media-md {
			align-items: center;
			display: flex;
			justify-content: center;
			margin-top: toRem(38);
		}

		@include media-lg {
			margin-top: toRem(54);
		}
	}



	button {
		margin-top: toRem(24);

		@include media-md {
			margin: 0;
		}
	}	
}