.header {

    overflow: hidden;

    @include media-md {
        display: grid;
        grid-template-areas: 'A . .' 'B C D';
    }

    @include media-xl {
        max-width: 1600px;
        margin: 0 auto;
    }
    
    &--top {
        display: flex;
        justify-content: center;
        margin-top: toRem(40);

        @include media-md {
            position: relative;
            left: toRem(39);
            margin: toRem(48) 0 toRem(82.53) 0;
            justify-content: left;
            grid-area: A;
        }

        @include media-lg {
            margin: toRem(81) 0 toRem(117.77) 0;
            left: toRem(165);
        }

        @include media-xl {
            left: 0;
        }
    }

    &--mobile {
        margin-top: toRem(66.40);
        display: inline-block;
        width: 100vw;
        height: toRem(229.6);
        background-image: url('../images/illustration-hero-mobile.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 

        @include media-md {
            display: none;
        }
    }

    &--left {
        @include media-md {
            display: inline-block;
            grid-area: B;
            width: 17.93vw;
            background-image: url('../images/illustration-hero-left.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
        }

        @include media-lg {
            width: 24.65vw;
        }

        @include media-xl {
            width: toRem(300);
        }
    }

    &--right {
        @include media-md {
            grid-area: D;
            display: inline-block;
            width: 17.93vw;
            background-image: url('../images/illustration-hero-right.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
        }

        @include media-lg {
            width: 24.65vw;
        }

        @include media-xl {
            width: toRem(300);
        }
    }

    &--body {
        margin-top: toRem(49.26);

        @include media-md {
            margin-top: toRem(50.25);
            width: 64.14vw;
            background-image: url('../images/bg-hero-squiggle.svg');
            background-size: contain;
            background-position: center top;
            background-repeat: no-repeat;
        }

        @include media-lg {
            width: 50.7vw;
        }

        @include media-xl {
            width: toRem(1000);
        }

        span {
            color: $primary-color;
        }

        p {
            margin: toRem(32) 6.4%;
        }

        .scroll {
            width: 100vw;
            height: toRem(42);
            background-image: url('../images/icon-scroll.svg');
            background-repeat: no-repeat;
            background-position: center;
            margin-top: toRem(42);

            @include media-md {
                width: auto;
            }
        }

        @include media-md {
            grid-area: C;
        }
    }
}